.content-wrapper
{
    display: flex;
}

.profile-image-wrapper img
{
    height: 80vh;
    width: 30vw;
    margin-right: 7vw;
    margin-left: 7vw;
    margin-bottom: 1vh;
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: 3px 4px 0px black;
    float:left;
}

.profile-content-wrapper
{
    float: right;
    padding: 10vh;
}

.profile-content-wrapper h1
{
    color: lightseagreen;
    font-size: 4.5vh;
}

.profile-content-wrapper p
{
    font-size: 2.3vh;
}