.profile-image-wrapper img
{
    height: 600px;
    width: 390px;
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 10px;
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: 3px 4px 0px black;
    float:left;
}

.profile-content-wrapper
{
    float: inline-start;
    padding: 60px;
}

.profile-content-wrapper h1
{
    color: lightseagreen;
}