/*Photography*/
.slideshow-container {
    display: grid;
    grid-gap: 2em;
    grid-template-columns: 1fr 1fr;
    margin: 2em;
}

.image img
{
    justify-items: center;
	width: 100%;
	height: 500px;
	transition: all 1s;
    border-radius: 25px;
}

.image img:hover
{
    transform: scale(1.1);
}

.sticky
{
    position: sticky;
}