.wrapper
{
    margin-top: 1vh;
    justify-content: center;
    display: flex;
    height: 80vh;
    width: 100vw;
}

.project-container
{
    height: 75vh;
    width: 90vw;
    /* border-bottom: 1px solid transparent; */
    transition: 0.5s;
    border: 2px solid black;
    box-shadow: 3px 5px 1px black;
    border-radius: 20px;
    display: flex;
    background: rgb(250, 250, 250);
}

/* .projects-header h1
{
    float:  right;

    margin-top: 5vh;
    margin-bottom: 0;
    padding-bottom: 3vh;
    color: lightseagreen;
    width: 74.9vw;
    font-size: 4.5vh;
    border-bottom: 2px solid black;
    text-shadow: 1px 1px 0px black;
    padding-left: 10vw;
    font-weight: bold;
} */

.projects
{
    float: left;
    height: 74.9vh;
    width: 28vw;
    
    margin-left: 2.5vw;
    font-size: 2.3vw;
}

.project-link-wrapper 
{
    margin-top: 3vh;
    padding: 1.5vh;

    cursor: pointer;
}


.project-link-wrapper a
{
   
    color: black;
    width: 10%;
    text-decoration: none;
    transition: color 0.5;
}



.project-link-wrapper a:hover
{
   color: black;
   border-bottom: 2px solid  black;

   opacity: 1;
}



.right
{
    display: flex;
    flex-wrap: wrap;
}

.project
{
    /* visibility: hidden; */
    display: flex;
    height: 57.9vh;
    width: 67vw;
}

#project-image
{
    float: right;
    width: 35vw;
    height: 67.45vh;
    margin-top: 3vh;
    transition: 1s;
    margin-left: 5vw;

    
}

img
{
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
    box-shadow: 10px 10px 5px #ccc;
    /* transform: perspective(1800px) rotate3D(0, 1, 0, -10deg); */
}

img:hover
{ 

    transform: perspective(1800px) rotate3D(0, 1, 0, 10deg);
}


#project-description
{
    float: left;
    width: 20vw;
    height: 50vh;
    margin-right: 2vw;
    margin-left: 5vw;
    margin-top: 10vh;
    margin-bottom: 5vh;
    font-size: 1.5vw;
    line-height: 4vh;
}
#project-link
{
    height: 3vh;
    width: 15vw;
    text-align: center;
    margin-right: 2vw;
    margin-left: 3.5vw;
    margin-bottom: 5vh;
    font-size: 1.5vw;
    text-decoration: none;
    text-decoration: underline;
    color: lightseagreen;
    cursor: pointer;
    transition: .5s;
}

#project-link:hover
{
    color: lightgrey;
}

.info
{
    display: flex;
    flex-wrap: wrap;

}

.active-nav-link
{
    border-bottom: 2px solid black;
    text-shadow: 2px 2px 1px rgb(177, 177, 177);
    box-shadow: 0 4px 6px -6px #222;
/* 
    color: rgb(32, 178, 170, 1); */
}

