/*Creative Writing*/
*{
    box-sizing: border-box;
}

.creative-content-wrapper
{
    display: flex;
}

.creative-wrapper
{
    width: 40%;
    height: 500px;
    position: relative;
    border: 5px solid black; 
    box-shadow: 1px 1px 2px black;
    border-radius: 20px;
    margin: 10px;
}

.creative-wrapper img
{
    width: 100%;
    height: 490px;
    opacity: 0;
    border-radius: 15px;
}

.img-darken
{
    transition: 1s;
    filter: brightness(10%);
}

.creative-img-text-wrapper
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(177, 177, 177);
    text-shadow: 1px 2px 1px black;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    padding: 10px;

}

.creative-img-text-wrapper .subtitle
{
    transition: 1s;
    font-weight: 600;
    font-size: 4vh;
    opacity: 1;
    height: 22px;
    /* text-decoration: underline; */
}

.creative-wrapper:hover .subtitle
{
    font-weight: 600;
    opacity: 0;
}

.creative-wrapper:hover img
{
    transition: 1s;
    opacity: 1;
}

.temp img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 500px;
}